{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

        <!-- Main content -->
    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-warning"{% endif %}>
                                {{ message }}
                            {{ error|escape }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                <form id="edit-form" class="edit" method='POST' novalidate=''>

                     {% csrf_token %}
                    
                    <div class="field-wrap">
                    {{ form|crispy  }}
                        <button type='submit' class="btn btn-md btn--warning btn--wider">Submit</button>
                    </div>
                </form>
        
        <div class="clearfix"></div>

{% endblock %}
