{% extends "base.html" %}
{% block content %}
    {% load mathfilters %}
    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <h2 class="page-heading">Sessions</h2>

            <div style="vertical-align: auto">


                <div>
                    <a type="button" href="/" class="btn btn-default"><i
                            class="fa fa-calendar  "></i> Today {{ today }}</a>
                    <span style="margin-left: 20px; padding-top: 10px; font-weight: bolder; vertical-align: auto">  <i
                            class="fa fa-calendar  "></i> Tomorrow {{ tomorrow }}</span>


                </div>


            </div>

            <div class="tags-area">
                <div class="tags tags--unmarked">
                    <span class="tags__label">Sorted by:</span>
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item"
                                                 data-filter='time'>
                            time</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item"
                                                 data-filter='price'>price</a>
                        </li>

                    </ul>
                </div>
            </div>
            {% for session in session_list %}
                <!-- Movie preview item -->
                <div class="movie movie--preview movie--full release">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <div class="movie__images">
                            <img alt='{{ session.movie.title }}'
                                 src="/{{ session.movie.poster }}">
                        </div>

                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                        <a href="{% url 'session' session.id %}?date={{ date }}"
                           class="movie__title link--huge">{{ session.movie.title }}</a>

                        <p class="movie__time">{{ session.movie.duration_format }}</p>

                        <p class="movie__option">
                            <strong>Room: </strong>{{ session.room }}</p>
                        <p class="movie__option"><strong>Time
                            start: </strong>{{ session.time_start }}</p>
                        <p class="movie__option">
                            <strong>Price: </strong>$ {{ session.price }}</p>
                        <p class="movie__option">
                            <strong>Dates: </strong>{{ session.date_start }}
                            - {{ session.date_finish }}</p>
                        <p class="movie__option"><strong>Bought
                            tickets: </strong>{{ session.tickets }}</p>
                        <p class="movie__option"><strong>Free
                            seats: </strong>{{ session.room.seats_count|sub:session.tickets }}
                        </p>

                        <div class="movie__btns">
                            <a href="{% url 'session' session.id %}?date={{ date }}"
                               class="btn btn-md btn--warning">book a ticket
                                <span class="hidden-sm">for this movie</span></a>
                        </div>

                        <div class="preview-footer">

                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Time table (choose film start time)-->
                    <div class="time-select">
                        <div class="time-select__group group--first">
                            <div class="col-sm-4">
                                <p class="time-select__place">Cineworld</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item"
                                    data-time='09:40'>09:40
                                </li>
                                <li class="time-select__item"
                                    data-time='13:45'>13:45
                                </li>
                                <li class="time-select__item active"
                                    data-time='15:45'>15:45
                                </li>
                                <li class="time-select__item"
                                    data-time='19:50'>19:50
                                </li>
                                <li class="time-select__item"
                                    data-time='21:50'>21:50
                                </li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Empire</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item"
                                    data-time='10:45'>10:45
                                </li>
                                <li class="time-select__item"
                                    data-time='16:00'>16:00
                                </li>
                                <li class="time-select__item"
                                    data-time='19:00'>19:00
                                </li>
                                <li class="time-select__item"
                                    data-time='21:15'>21:15
                                </li>
                                <li class="time-select__item"
                                    data-time='23:00'>23:00
                                </li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Curzon</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item"
                                    data-time='09:00'>09:00
                                </li>
                                <li class="time-select__item"
                                    data-time='11:00'>11:00
                                </li>
                                <li class="time-select__item"
                                    data-time='13:00'>13:00
                                </li>
                                <li class="time-select__item"
                                    data-time='15:00'>15:00
                                </li>
                                <li class="time-select__item"
                                    data-time='17:00'>17:00
                                </li>
                                <li class="time-select__item" data-time='19:0'>
                                    19:00
                                </li>
                                <li class="time-select__item" data-time='21:0'>
                                    21:00
                                </li>
                                <li class="time-select__item" data-time='23:0'>
                                    23:00
                                </li>
                                <li class="time-select__item" data-time='01:0'>
                                    01:00
                                </li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Odeon</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item"
                                    data-time='10:45'>10:45
                                </li>
                                <li class="time-select__item"
                                    data-time='16:00'>16:00
                                </li>
                                <li class="time-select__item"
                                    data-time='19:00'>19:00
                                </li>
                                <li class="time-select__item"
                                    data-time='21:15'>21:15
                                </li>
                                <li class="time-select__item"
                                    data-time='23:00'>23:00
                                </li>
                            </ul>
                        </div>

                        <div class="time-select__group group--last">
                            <div class="col-sm-4">
                                <p class="time-select__place">Picturehouse</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item"
                                    data-time='17:45'>17:45
                                </li>
                                <li class="time-select__item"
                                    data-time='21:30'>21:30
                                </li>
                                <li class="time-select__item"
                                    data-time='02:20'>02:20
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end time table-->

                </div>
                <!-- end movie preview item -->
            {% endfor %}

            <div class="coloum-wrapper">
                <div class="pagination paginatioon--full">
                    <a href='#' class="pagination__prev">prev</a>
                    <a href='#' class="pagination__next">next</a>
                </div>
            </div>

        </div>

    </section>

    <div class="clearfix"></div>
{% endblock %}