{% extends "base.html" %}
{% block content %}
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">Sessions</h2>
                
                <div  style="vertical-align: auto">
{#                    <form class="select" method='get'>#}
{#                          <select name="select_item" class="select__sort" tabindex="0">#}
{#                            <option value="1" selected='selected'>London</option>#}
{#                            <option value="2">New York</option>#}
{#                            <option value="3">Paris</option>#}
{#                            <option value="4">Berlin</option>#}
{#                            <option value="5">Moscow</option>#}
{#                            <option value="3">Minsk</option>#}
{#                            <option value="4">Warsawa</option>#}
{#                            <option value="5">Kiev</option>#}
{#                        </select>#}
{#                    </form>#}
{##}
{#                    <div class=""">#}
{#                     <i class="fa fa-calendar  "></i> Today 03/10/2014#}
{#                    </div>#}
{#                <ul class="nav nav-tabs">#}

                    <div>
                        <a type="button" href="/" class="btn btn-default"><i class="fa fa-calendar  "></i> Today {{ today }}</a>
                        <span style="margin-left: 20px; padding-top: 10px; font-weight: bolder; vertical-align: auto">  <i class="fa fa-calendar  "></i> Tomorrow {{ tomorrow }}</span>


</div>

{#                    <form class="select select--cinema" method='get'>#}
{#                          <select name="select_item" class="select__sort" tabindex="0">#}
{#                            <option value="1" selected='selected'>Cineworld</option>#}
{#                            <option value="2">Empire</option>#}
{#                            <option value="3">Everyman</option>#}
{#                            <option value="4">Odeon</option>#}
{#                            <option value="5">Picturehouse</option>#}
{#                        </select>#}
{#                    </form>#}
{##}
{#                    <form class="select select--film-category" method='get'>#}
{#                          <select name="select_item" class="select__sort" tabindex="0">#}
{#                            <option value="2" selected='selected'>Children's</option>#}
{#                            <option value="3">Comedy</option>#}
{#                            <option value="4">Drama</option>#}
{#                            <option value="5">Fantasy</option>#}
{#                            <option value="6">Horror</option>#}
{#                            <option value="7">Thriller</option>#}
{#                        </select>#}
{#                    </form>#}

                </div>

                 <div class="tags-area">
                    <div class="tags tags--unmarked">
                        <span class="tags__label">Sorted by:</span>
                            <ul>
                                <li class="item-wrap"><a href="#" class="tags__item item-active" data-filter='all'>all</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='release'>release date</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='popularity'>popularity</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='comments'>comments</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'>ending soon</a></li>
                            </ul>
                    </div>
                </div>
                {% for session in session_list %}
                <!-- Movie preview item -->
                <div class="movie movie--preview movie--full release">
                     <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="movie__images">
                                <img alt='{{ session.movie.title }}' src="/{{ session.movie.poster }}">
                            </div>
{#                            <div class="movie__feature">#}
{#                                <a href="#" class="movie__feature-item movie__feature--comment">123</a>#}
{#                                <a href="#" class="movie__feature-item movie__feature--video">7</a>#}
{#                                <a href="#" class="movie__feature-item movie__feature--photo">352</a>#}
{#                            </div>#}
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                            <a href="{% url 'session' session.id %}?date={{ date }}" class="movie__title link--huge">{{ session.movie.title }}</a>

                            <p class="movie__time">{{ session.movie.duration_format }}</p>

                            <p class="movie__option"><strong>Room: </strong>{{ session.room }}</p>
                            <p class="movie__option"><strong>Time start: </strong>{{ session.time_start }}</p>
                            <p class="movie__option"><strong>Price: </strong>$ {{ session.price }}</p>
                            <p class="movie__option"><strong>Dates: </strong>{{ session.date_start }} - {{ session.date_finish }}</p>
                            <p class="movie__option"><strong>Bought tickets: </strong>{{ session.session_tickets.count }}</p>
                            <p class="movie__option"><strong>Free seats: </strong>{{ session.free_seats }}</p>

                            <div class="movie__btns">
                                <a href="{% url 'session' session.id %}?date={{ date }}" class="btn btn-md btn--warning">book a ticket <span class="hidden-sm">for this movie</span></a>
{#                                <a href="#" class="watchlist">Add to watchlist</a>#}
                            </div>

                            <div class="preview-footer">
{#                                <div class="movie__rate"><div class="score"></div><span class="movie__rate-number">170 votes</span> <span class="movie__rating">5.0</span></div>#}
{#                                #}
{##}
{#                                <a href="#" class="movie__show-btn">Showtime</a>#}
                            </div>
                    </div>

                    <div class="clearfix"></div>
                    
                    <!-- Time table (choose film start time)-->
                    <div class="time-select">
                        <div class="time-select__group group--first">
                            <div class="col-sm-4">
                                <p class="time-select__place">Cineworld</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='09:40'>09:40</li>
                                <li class="time-select__item" data-time='13:45'>13:45</li>
                                <li class="time-select__item active" data-time='15:45'>15:45</li>
                                <li class="time-select__item" data-time='19:50'>19:50</li>
                                <li class="time-select__item" data-time='21:50'>21:50</li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Empire</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='10:45'>10:45</li>
                                <li class="time-select__item" data-time='16:00'>16:00</li>
                                <li class="time-select__item" data-time='19:00'>19:00</li>
                                <li class="time-select__item" data-time='21:15'>21:15</li>
                                <li class="time-select__item" data-time='23:00'>23:00</li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Curzon</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='09:00'>09:00</li>
                                <li class="time-select__item" data-time='11:00'>11:00</li>
                                <li class="time-select__item" data-time='13:00'>13:00</li>
                                <li class="time-select__item" data-time='15:00'>15:00</li>
                                <li class="time-select__item" data-time='17:00'>17:00</li>
                                <li class="time-select__item" data-time='19:0'>19:00</li>
                                <li class="time-select__item" data-time='21:0'>21:00</li>
                                <li class="time-select__item" data-time='23:0'>23:00</li>
                                <li class="time-select__item" data-time='01:0'>01:00</li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Odeon</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='10:45'>10:45</li>
                                <li class="time-select__item" data-time='16:00'>16:00</li>
                                <li class="time-select__item" data-time='19:00'>19:00</li>
                                <li class="time-select__item" data-time='21:15'>21:15</li>
                                <li class="time-select__item" data-time='23:00'>23:00</li>
                            </ul>
                        </div>

                        <div class="time-select__group group--last">
                            <div class="col-sm-4">
                                <p class="time-select__place">Picturehouse</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='17:45'>17:45</li>
                                <li class="time-select__item" data-time='21:30'>21:30</li>
                                <li class="time-select__item" data-time='02:20'>02:20</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end time table-->

                </div>
                <!-- end movie preview item -->
                {% endfor %}

                <div class="coloum-wrapper">
                    <div class="pagination paginatioon--full">
                            <a href='#' class="pagination__prev">prev</a>
                            <a href='#' class="pagination__next">next</a>
                    </div>
                </div>

            </div>

        </section>
        
        <div class="clearfix"></div>
{% endblock %}